{% extends 'front/base.html.twig' %}

    {% block metaTitle %}

        Liste des articles

    {% endblock metaTitle %}

    {% block main %}

        <div class="container-list">
            <div class="title-list">
                <h1>Nombre d'articles dans la base de données : {{ articles | length }}</h1>
                <p>Cliquez sur un article pour afficher les détails.</p>
            </div>

            <div class="list">
                {% for article in articles %}
                    <article>
                        <a href={{ path('front_article_show', {'id': article.id} ) }}>

                            <h3>{{ article.title }}</h3>

                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>

    {% endblock main %}