{% extends 'front/base.html.twig' %}

    {% block metaTitle %}

        Homepage

    {% endblock metaTitle %}

    {% block main %}
        <div class="homepage-block">
            <div class="homepage">

                <h1>Hello y'all !</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut eaque eius eveniet labore molestias nobis numquam, optio pariatur, quidem, quis sed ut. Accusamus eligendi iusto nesciunt quibusdam quis. Corporis, fugiat id in non omnis quia ut. Dicta enim hic illum in quis voluptate! Dolores enim eos inventore similique tempora! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam architecto at consectetur cum cumque, deleniti dolor dolore ea et explicabo fugit illo inventore laboriosam maxime, mollitia nulla numquam odit officiis perspiciatis possimus quae quia, quis repellendus similique velit vero voluptatibus. Amet aut ex ipsam labore maxime nemo, neque non porro praesentium, quam soluta, ut voluptatum. Accusamus adipisci aliquid, animi atque aut beatae, blanditiis consequuntur corporis culpa cupiditate doloremque ex facilis fuga fugit hic impedit laboriosam magni minima modi nemo nulla qui quisquam quo recusandae repellendus suscipit ut velit veniam voluptas voluptates! Ipsum nisi nobis officia qui temporibus veritatis voluptatibus?</p>
                <h2>...still wondering what the f*ck, right?</h2>

            </div>
        </div>

    {% endblock main %}
