{% extends 'front/base.html.twig' %}

    {% block metaTitle %}

        Story time !

    {% endblock metaTitle %}

    {% block main %}

        <div class="container-show">
            <h1>Notre petite histoire rigolote</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae laudantium placeat, quidem quis quo rem repellat voluptatibus. Aliquam autem, deleniti distinctio ducimus expedita itaque, laboriosam libero magni necessitatibus quam reiciendis repudiandae rerum sequi vero vitae? Ab illum itaque neque odit quod recusandae suscipit veniam voluptas. Adipisci alias aliquam aut beatae consequatur cum cupiditate deserunt distinctio, dolore doloribus dolorum earum est excepturi expedita fuga, fugit illo iure laboriosam minus nihil nisi odit possimus quam, quibusdam quis quisquam ratione recusandae reprehenderit sed sequi tenetur veritatis vero vitae? Accusamus aliquid architecto aspernatur beatae deserunt distinctio dolor dolore, dolorem doloremque doloribus, eaque eius fuga, in laboriosam molestiae mollitia neque nostrum officiis placeat quam ratione recusandae sed sit sunt tempore vel veniam vero vitae voluptate voluptatum. Adipisci, alias beatae blanditiis dolore dolorem eaque earum enim eos eveniet excepturi exercitationem expedita fuga inventore ipsa iure iusto libero necessitatibus neque nihil nobis officia placeat quam qui quibusdam quis repudiandae temporibus unde vero voluptas voluptates! Aperiam excepturi expedita incidunt ipsum quaerat quia recusandae similique velit. Commodi cupiditate exercitationem facere illum molestias odit reprehenderit sequi vitae! Dicta distinctio eius ipsam omnis praesentium quam repellat reprehenderit, voluptatem? Asperiores dicta dignissimos, est eveniet illum labore laudantium magni necessitatibus, nulla sit tempore!</p>
        </div>

    {% endblock main %}