<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>{% block metaTitle %}{% endblock metaTitle %}</title>
        <!-- la fonction asset va chercher le fichier dans le dossier public directement -->
        <!-- asset : JS, images, CSS, etc. -->
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    </head>
    <body>

        <header>

            <ul>
                <li><img src="{{ asset('images/rose.png') }}" alt=""></li>
                <li>Catégories</li>
                <li>Notre histoire</li>
                <li>Formulaire</li>
            </ul>

        </header>
        <main>

            {% block main %}
            {% endblock main %}

        </main>
        <footer>

            <ul>
                <li>Mentions mégales</li>
                <li>Contact</li>
                <li>A propos</li>
            </ul>

        </footer>

    </body>
</html>
