{% extends 'base.html.twig' %}

    {% block metaTitle %}

        La catégorie : {{ category.title }}

    {% endblock metaTitle %}

    {% block main %}

        <div class="container-show">

            <article>

                <h1>{{ category.title }}</h1>
                <p>{{ category.content }}</p>

            </article>

        </div>

    {% endblock main %}
