{% extends 'base.html.twig' %}

    {% block metaTitle %}

        La catégorie : {{ category.title }}

    {% endblock metaTitle %}

    {% block main %}

        <div class="container-show">

            <article>

                <h1>{{ category.title }}</h1>
                <p>Desc. : {{ category.description }}</p>

                <ul>
                    {% for article in category.articles %}

                        <li>{{ article.title }}</li>

                    {% endfor %}

                </ul>

            </article>

        </div>

    {% endblock main %}
