{% extends 'base.html.twig' %}


    {% block main %}

        <div class="container-show">

            <article>
                <h1>{{ tag.name }}, ID : {{ tag.id }}</h1>
            </article>

        </div>

    {% endblock main %}